@use "../scss/vars";

body {
  font-family: vars.$font-text;
  background-color: vars.$color-light;
  color: vars.$color-dark;
  margin: 0;

  h1,
  h2 {
    font-family: vars.$font-header;
  }

  section {
    margin: 40px 0;
  }

  .sectionTitle {
    font-size: 3rem;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      width: 120%;
      height: 2px;
      background-color: vars.$color-dark;
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
    }
  }

  footer {
    text-align: right;
    font-size: 10px;
    padding: vars.$basic-size;
  }

  a {
    text-decoration: none;
    color: vars.$color-dark;
  }
}

@media (min-width: 90rem) {
  body {
    .sectionTitle {
      font-size: 5rem;
    }
  }
}
