//fonts
$font-header: "DM Serif Display", serif;
$font-text: "Montserrat", serif;

// colors
$color-primary: #529371;
$color-secondary: #47705b;
$color-dark: #222222;
$color-light: #fafafa;

// media-query
$desktop: 37.5rem;
$tablet: 37.5rem;
$laptop: 62rem;

// other
$transition: all 0.3s ease-in-out;
$basic-size: 12px;
$section-padding: $basic-size * 5 $basic-size * 2;
