@use "../vars";

.strefa {
  text-align: center;

  h1 {
    margin: 40px 0;
  }

  &__ms {
    display: flex;
    justify-content: center;
    padding: 0 30px 20px;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;

    p {
      margin: 4px 0;
    }

    p:nth-last-of-type(1) {
      margin-top: 30px;
    }

    span {
      margin: 10px 0;
      font-size: 1.2rem;
    }

    &___icons {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      padding: 6px 0;

      &___icon {
        width: 2rem;

        svg {
          width: 100%;
          fill: vars.$color-dark;
          transition: vars.$transition;

          &:hover {
            fill: vars.$color-primary;
          }
        }
      }
    }

    a {
      transition: vars.$transition;
    }

    a:hover {
      color: vars.$color-primary;
    }
  }
}
