body {
  font-family: "Montserrat", serif;
  background-color: #fafafa;
  color: #222222;
  margin: 0;
}
body h1,
body h2 {
  font-family: "DM Serif Display", serif;
}
body section {
  margin: 40px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  background-image: url("img/header-background.jpg");
  height: 75vh;
  background-position: center;
  background-size: cover;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px;
  z-index: 10;
}
.menu__logo {
  text-decoration: none;
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  letter-spacing: 0.1em;
  z-index: 3;
  position: fixed;
}
.menu__logo p {
  margin: 0;
}
.menu__navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-200%);
  z-index: 2;
  transition: all 1s ease-in-out;
}
.menu__navigation.show {
  transform: translateY(0);
  background-color: #529371;
}
.menu__navigation__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 24px;
  padding: 0;
  position: fixed;
}
.menu__navigation__links li a {
  text-decoration: none;
  color: #fafafa;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}
.menu__navigation__links li a:hover {
  color: #529371;
}
.menu__navigation__links li a.active {
  color: #529371;
}

.hamburger {
  display: flex;
  align-items: center;
  height: 24px;
  top: 36px;
  right: 36px;
  position: fixed;
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
}
.hamburger__inner {
  transition: all 0.3s ease-in-out;
  border: 0;
  position: relative;
  width: 36px;
}
.hamburger__inner::before, .hamburger__inner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 2px solid #fafafa;
  transition: all 0.3s ease-in-out;
}
.hamburger__inner::before {
  top: -6px;
}
.hamburger__inner::after {
  bottom: -6px;
}

.hamburger.show .hamburger__inner::before {
  transform: translateY(6px) rotate(45deg);
}
.hamburger.show .hamburger__inner::after {
  transform: translateY(-6px) rotate(-45deg);
}

@media (min-width: 62rem) {
  .menu {
    padding: 48px;
  }
  .menu__navigation {
    position: static;
    height: auto;
    transform: none;
    justify-content: flex-end;
  }
  .menu__navigation__links {
    flex-direction: row;
    margin: 0;
    gap: 24px;
  }
  .menu__navigation__links li a {
    font-size: 1rem;
  }
  .hamburger {
    display: none;
  }
}
.strefa {
  margin-top: 40px;
  text-align: center;
}
.strefa h1 {
  margin: 40px 0;
  font-size: 3rem;
}
.strefa__info {
  margin: 0 12px;
  display: grid;
  gap: 48px;
}
.strefa__info__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strefa__info__box___img {
  width: 160px;
  height: 160px;
}
.strefa__info__box___img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.strefa__info__box p {
  margin: 0;
}

@media (min-width: 37.5rem) {
  .strefa__info {
    margin: 0 80px;
  }
}
@media (min-width: 62rem) {
  .strefa__info {
    margin: 0 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 62rem) and (min-width: 90rem) {
  .strefa__info {
    margin: 0 100px;
    grid-template-columns: repeat(3, 1fr);
  }
}
.swiper {
  width: 100%;
  height: 60vh;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: #529371;
}
.swiper .swiper-wrapper {
  height: 100%;
}
.swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  text-align: center;
}
.about__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__info___img {
  width: 100%;
  max-width: 600px;
}
.about__info___img img {
  width: 100%;
}
.about__info___txt {
  max-width: 600px;
}

@media (min-width: 62rem) {
  .about__info {
    flex-direction: row;
    gap: 40px;
  }
  .about__info___img {
    max-width: 800px;
  }
  .about__info___txt {
    margin: 0 60px;
  }
}
.button {
  background-color: #529371;
  color: #fafafa;
  border: none;
  padding: 24px 36px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.button a {
  text-decoration: none;
  color: #fafafa;
}
.button:hover {
  background-color: #47705b;
}

/*# sourceMappingURL=style.css.map */
